@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #39ff14;
  text-shadow: 0 0 5px #39ff14;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #39ff14;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes pulse-border {
  0% {
    border-color: #39ff14;
}
  16% {
    border-color: #39ff14;

  }
  33% {
    border-color: #39ff14;
}
  50% {
    border-color: #39ff14;
}
  66% {
    border-color: #39ff14;
  }
  83% {
    border-color: #39ff14;
  }
  100% {
    border-color: #39ff14;
}
}

.animate-pulse-border {
  animation: pulse-border 2s ease-in-out;
  -webkit-animation: pulse-border 2s ease-in-out;
}
